$palette-name: 'Custom';
$palette-color-red: #cf1e32;
$palette-color-orange: #ff5a26;
$palette-color-orange-light: #ff9024;
$palette-color-yellow-dark: #ffc72a;
$palette-color-yellow: #e8ff75;
$palette-color-green: #6bf158;
$palette-color-blue-light: #4feab9;
$palette-color-blue: #2ba5f0;
$palette-color-purple: #8269f0;
$palette-color-pink-purple: #a830cb;

$palette-color-light: #c5c5c5;
$palette-color-mid: #5e5e5e;
$palette-color-dark: #292929;
$palette-color-dark-accent: #222222;
$palette-color-darker: #1d1d1d;

$palette-color-bracket1: #c5c5c5;
$palette-color-bracket2: #58c04a;
$palette-color-bracket3: #2589c7;
$palette-color-bracket4: #c5c5c5;
$palette-color-bracket5: #58c04a;
$palette-color-bracket6: #2589c7;